logs/

*/playerdata/
*/stats/
*/uid.dat
*/session.lock
level.dat_old

banned-ips.json
banned-players.json
bukkit.yml
commands.yml
eula.txt
help.yml
ops.json
permissions.yml
spigot.yml
usercache.json
whitelist.json

/*.jar
